html(lang="en")
    include head.pug
    body
        main
            include nav.pug
            div(class="container")
                each article in data
                    div(class="card")
                        div(class="card-image")
                            img(src=article.imgSrc)
                            span(class="card-title") Billet numéro 
                                span=article.id
                        div(class="card-content")
                            p=article.description
                            p(class="right")
                                i=article.author
                            div.card-action
                                form(action="/ask", method="POST")
                                    div.row
                                        input(name="articleId", style="display : none;" value=article.id)
                                        input.col.s3(name="authorRes", placeholder="Entrez votre pseudo" required)
                                    textarea#askContent(name="contentRes", placeholder="Ecrivez votre réponse" class="materialize-textarea" required)
                                    input(class="btn yellow black-text", type="submit", value="Répondre")
                            div
                                ul.collapsible.row
                                    li
                                        div.collapsible-header Voir les réponses
                                        div.collapsible-body
                                            ul.collection
                                                each response in resp
                                                    if response.articleId == article.id 
                                                        li.collection-item
                                                            h6=response.authorRes
                                                            p=response.contentRes
            div(class="fixed-action-btn")
                a(href="/write" class="btn-floating yellow btn-large")
                    i(class="large material-icons black-text") add
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js")
    
